window {
   background-image: url("/usr/share/backgrounds/linuxmint-vanessa/aaronphs_indonesia.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-color: black;
}
